    html body
        {
        background-color: dimgray;
    }
    #footer
        {
        clear: both;
        background-color: black;
        color: snow;
        text-align: center;
        padding: 20px;
    }
    #logo
        {
        background-color: black;
        color: bisque;
        text-align: center;
        padding: 15px;
    }
    #tGame
        {
        border: solid thick black;
            margin-left: 10px;
            margin-right: 10px;
    }
    #guziczki
        {
        text-align: center;
    } 
    .pola
        {
        clear: both;
        background-color:cornflowerblue;
        min-width: 35px;
        height: 35px;
        border-color: lightgray;
        border-style: solid;
        font-size: 30px;
        text-align: center;
        font-weight: 900;
        color: white;
        user-select: none;
    }
    .poleScore
        {
        border: solid thick black;      
    }
@media (max-width: 1099px){
    #logo
        {
        background-color: black;
        color: bisque;
        text-align: center;
        padding: 1.2em;
    }
    #container
        {
        width: auto;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    #score
        {
        background-color: lightblue;
        width:auto;
        padding: 10px;
        font-size: 2em;
    }
    #game
        {
        background-color: lightgray;
        height: auto;
        width: auto;
        font-size: 5em;
        overflow-x:auto;
        min-height: auto;
        min-width: auto;
        margin-left: auto;
        margin-right: auto;
   
    }
    #info
        {
        float:inherit;
        background-color: lightgreen;
        width: auto;
        margin: auto;
        padding: 10px;
        font-size: 3em;
   
    }
    #wynikNapis
        {
        clear: both;
        text-align: center;
        font-size: 2em;
    }
    #wynikCyfra
        {
        clear: both;
        text-align: center;
        color: darkred;
        padding-left: 8px;
        font-size: 1.8em;
    }
    #wynikKto
        {
        clear: both;
        text-align: center;
        color: darkred;
        padding-left: 0px;
        font-size: 1em;
    }
    #buttonZacznij
        {
        margin: 0 auto;
        display: block;
        width:inherit;
        font-size: 1em;
    }
    #trudnoscNapis
        {
        clear: both;
        text-align: center;
        font-size: 1em;
    }
    #startNapis
        {
        clear: both;
        text-align: center;
        font-size: 1em;
    }
   .wybor
        {
        margin: 0 auto;
        display: block;
        width: 200px;
        font-size: 1em;
    }
    #guziczkiNag
        {
        font-size: 1em;
    }
    .wnap
        {
        display: none;
        height: 20px;
        font-size: 1em;
        text-align: center;
    }
    .wcyf
        {
        display: none;
        color: darkred;
        padding-top: 0.5em;
        font-size: 1em;
        text-align: center;
    }
    .nagScore
        {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color:dodgerblue;
    color: white;
    font-size: 1em;
    margin-top: 0.2em;
    user-select: none;
    
}
    .nag
        {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        color: brown;
        font-size: 0.5em;
        background-color:aquamarine;
        margin-top: 0.2em;
        user-select: none;
    }
    .dane
        {
        display: none;
        font-size: 0.4em;
    }
    .zap
        {
        text-align: center;
    }

}

@media (min-width: 1100px){
    #container
        {
    width:1100px;
    margin-left: auto;
    margin-right: auto;
}
    #logo
        {
        background-color: black;
        color: bisque;
        text-align: center;
        padding: 15px;
    }
    #score
        {
    float: left;
    background-color: lightblue;
    width: 120px;
    height: 710px;
    padding: 10px;
}
    #game
        {
    float: left;
    background-color: lightgray;
    width: 680px;
    height: 690px;
    padding: 20px;
}
    #info
        {
    float: left;
    background-color: lightgreen;
    width: 220px;
    height: 710px;
    padding: 10px;
}
    #wynikNapis
        {
    clear: both;
    text-align: center;
    font-size: 30px;
}
    #wynikCyfra
        {
    clear: both;
    text-align: center;
    color: darkred;
    font-size: 25px;
    padding-left: 8px;
}
    #wynikKto
        {
    clear: both;
    text-align: center;
    color: darkred;
    padding-left: 0px;
    font-size: 16px;
}
    #buttonZacznij
        {
   width:inherit;
}
    #trudnoscNapis
        {
        clear: both;
        text-align: center;
        font-size: 14px; 
}
    #startNapis
        {
     clear: both;
    text-align: center;
    font-size: 15px; 
}
    .wybor
        {
        width: 110px;
        font-size: 15px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
    }
    #guziczkiNag
        {
    font-size: 14px;
}
    #szczWynik
        {
    font-size: 14px;    
}
    .wnap
        {
    display: none;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
    .wcyf
        {
    display: none;
    color: darkred;
    font-size: 17px;
    text-align: center;
}
    .nag
        {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color:aquamarine;
    color: brown;
    font-size: 18px;
    margin-top: 0.2em;
    user-select: none;
}
    .nagScore
        {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color:dodgerblue;
    color: white;
    font-size: 18px;
    margin-top: 0.2em;
    user-select: none;
    
}
    .dane
        {
    font-size: 15px;
}
    .zap
        {
        text-align: center;
            font-size: 14px;
    }
}


